:root {
  --vp-c-brand-1: #9370db;
  --vp-c-brand-2: #8a2be2;
  --vp-c-brand-3: #7b68ee;
}

.VPImage.image-src {
  border-radius: 8px;
}

.VPNavBarTitle .title {
  font-size: 18px !important;
  font-weight: 600;
}
